//for font color
$gray-color: #707070 !important;
$white-color:#ffffff!important;
$green-color:#5BAAA1!important;
$red-color:#FF5A5F!important;
$dark-green:#23c729;
$dark-blue:#2b449c;
$orange:#fd6400!important;

//for background color
$green-bg-color: #5BAAA1 !important;
$white-bg-color: #ffffff !important;
$light-whhite-color:#F5F5F5!important;


//for fonts
$navis-fonts:"navis", sans-serif;
$open-sans: 'Open Sans', sans-serif;

/*--Colors--*/
.gray-color {
    color: #707070 !important;
}
.light-gray{
    color:#70707063!important;
}
.green-color {
    color: #5BAAA1!important;
}
.white-color {
    color: #fff !important;
}

.dark-blue-color {
    color: #222B32 !important;
}

.off-dark-color {
    color: #626b75 !important;
}

/*--Background Colors--*/
.dark-blue-bg-color {
    background-color: #2D353C !important;
}

.off-white-bg-color {
    background-color: #FBFBFB !important;
}

.light-gray-bg-color {
    background-color: #f7f7f7 !important;
    
}

.white-bg-color {
    background-color: #fff !important;
}

.green-bg-color {
    background-color: #5BAAA1 !important;
}